################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TareasMVC/TareasMVC/appsettings.json
/TareasMVC/TareasMVC/appsettings.Development.json
